.Tarjeta2 img:first-child {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.contenido {
    display: grid;
    height: 100vh;
    grid-template-rows: 20% 20% 10%;
    color: white;
    justify-items: center;
    align-items: center;
}

.contenido span:first-child {
    font-family: 'Rozha One', serif;
    font-size: 30px;
}

.cent p {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-top: 0;
}

.cent {
    display: grid;
    align-items: start;
    width: 100%;
    height: 100%;
    justify-items: center;
}

.inic {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: end;
    justify-items: center;
}

.Tarjeta2 button {
    background: #9a79f6;
    background-image: -webkit-linear-gradient(top, #9a79f6, #2079b0);
    background-image: -moz-linear-gradient(top, #9a79f6, #2079b0);
    background-image: -ms-linear-gradient(top, #8f67fe, #2079b0);
    background-image: -o-linear-gradient(top, #8f67fe, #2079b0);
    background-image: linear-gradient(to bottom, #8f67fe, #2079b0);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.Tarjeta2 button:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #e067fe);
    background-image: -moz-linear-gradient(top, #2079b0, #e067fe);
    background-image: -ms-linear-gradient(top, #2079b0, #e067fe);
    background-image: -o-linear-gradient(top, #2079b0, #e067fe);
    background-image: linear-gradient(to bottom, #2079b0, #e067fe);
    text-decoration: none;
}

@media (min-width: 1024px) {
    .Tarjeta2 img {
        height: 100%;
    }
    .contenido {
        grid-template-rows: 40% 40% 10%;
    }
    .contenido span:first-child {
        font-size: 70px;
    }
    .cent p {
        font-size: 50px;
    }
    .Tarjeta2 button {
        padding: 20px 60px;
    }
}