.Tarjeta1 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40% 60%;
    align-items: end;
    background-image: url('../assets/fondoopng.png');
    background-position: left;
}

.Tarjeta1 img:first-child {
    width: 100%;
    grid-row: 1/3;
}

.logo {
    grid-row: 1/3;
    display: grid;
    height: 100%;
    align-items: center;
}

.barras {
    width: 100%;
    display: grid;
    justify-items: center;
}

.barras img {
    max-width: 50%;
}

.span span {
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
    text-shadow: 0.3em 0.2em 0.3em rgb(0, 0, 0);
}

.span {
    display: flex;
    justify-content: center;
}

.ciudad {
    width: 100%;
    height: 100%;
    display: flex;
}