.Tarjeta3 {
    position: relative;
    top: -230px;
    background-color: rgb(146, 181, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.span3 span {
    color: white;
    font-family: 'Comic Neue', cursive;
}