html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 80%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-layout {
    display: grid;
    grid-template-rows: 100px 50px;
}

.PMap {
    box-shadow: 6px 5px 24px #666666;
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    display: flex;
    margin: 0;
    flex-direction: column;
}

.letras {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letras p {
    font-family: 'Rozha One', serif;
}

#map {
    width: 320px;
    height: 540px;
}

nav {
    background-color: #3378ad;
    height: 100%;
    margin-right: 15px;
    text-align: center;
    width: 100%;
}

nav ul {
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
    margin-bottom: 10px;
}

nav li a {
    color: white;
    font-size: 15px;
    font-family: 'Love Ya Like A Sister', cursive;
    text-decoration: none;
}

.nav-active {
    color: grey;
    transition: all .3s ease-out;
}

@media (min-width: 1024px) {
    .main-layout {
        grid-template-rows: 200px 50px;
    }
    nav {
        margin-top: 6px;
    }
    #map {
        margin: 30px auto;
        width: 1024px;
        height: 1080px;
        border-radius: 20px;
    }
    .PMap {
        width: 80%;
        margin: 20px auto;
        border-radius: 20px;
    }
    .letras p {
        font-size: 30px;
    }
}